%p= link_to "Back to #{@taxonomy.name}", taxonomy_relative_to_instance_path

= form_for([@taxonomy, @instance], :url => @instance.new_record? ? url_for(:action => :create, :taxonomy_id => @taxonomy.id) : url_for(:action => :update, :taxonomy_id => @taxonomy.id, :id => @instance.id)) do |f|
  
  - if f.object.errors.any?
    %ul.errors
      - for error in f.object.errors.full_mesages do
        %li= error
  
  %fieldset
    %legend Properties
    
    - for property in @taxonomy.physical_properties.ordered do
      .row
        = f.label property.name
        = f.text_field property.name
  
  %button{ :type => 'submit' } Submit