%h1 Taxonomies

%p= link_to 'Create New', :action => :new

%table
  %thead
    %tr
      %th Name
      %th Action
  %tbody
    - for taxonomy in @taxonomies
      %tr{ :id => "taxononmy-#{taxonomy.id}" }
        %th= link_to taxonomy.name, :action => :show, :id => taxonomy.id
        %td
          = link_to 'Edit', :action => :edit, :id => taxonomy.id
          = link_to 'Delete', { :action => :delete, :id => taxonomy.id }, :method => :delete, :confirm => 'Are you sure?'